<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d53d64d2-54df-4842-85eb-84590ec6a354/resourcegroups/MLTP03453320180413100604ResourceGroup/providers/Microsoft.Web/sites/MLTP03453320180413100604</ResourceId>
    <ResourceGroup>MLTP03453320180413100604ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mltp03453320180413100604.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mltp03453320180413100604.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MLTP03453320180413100604</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MLTP03453320180413100604</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:maersktp034533.database.windows.net,1433;Initial Catalog=aspnet-ML_TP034533;Persist Security Info=False;User ID=demouser;Password=Demo@pass123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:maersktp034533.database.windows.net,1433;Initial Catalog=aspnet-ML_TP034533;Persist Security Info=False;User ID=demouser;Password=Demo@pass123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ML_TP034533.Models.ApplicationDbContext, ML_TP034533" MigrationConfiguration="ML_TP034533.Migrations.Configuration, ML_TP034533" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:maersktp034533.database.windows.net,1433;Initial Catalog=aspnet-ML_TP034533;Persist Security Info=False;User ID=demouser;Password=Demo@pass123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>